body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #332A38 !important;
}

header, footer {
    width: 100%;
}

aside { 
    min-width: 400px;
    height: auto;
    background-color: rgba(48,49,52,.7);
    border-right: 1px solid #555555;
}

aside h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 32px;
    border-bottom: 1px solid #555555;
}

aside h4 {
    padding-left: 25px;
    font-size: 24px;
}

aside ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0px;
}
aside li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

aside img {
    margin-left: 30px;
    max-height: 30px;
}

aside a { 
    margin-left: 5px;
}

aside a:link, a:active, a:visited {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

aside li:hover {
    background-color: black;
}

aside a:hover {
    color: #7000FF;
}

footer {
    bottom: 0;
    background-color: rgba(48,49,52,.7);
    border-top: 1px solid #555555;
}

.mainContent {
    flex: 1; /* This makes the main content area stretch vertically */
    display: flex;
    color: white;
}

.pageContent {
    background-color: rgba(20,20,20,.8);
    padding: 20px;
}

a.dropdown-item img{
    margin-right: 8px;
    max-height: 30px;
}

.profilePhoto{
    height: 30px;
}