body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #332A38 !important;
}

header, footer {
    width: 100%;
}

aside { 
    min-width: 400px;
    height: auto;
    background-color: rgb(36, 36, 36);
}

aside h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 32px;
}

aside h4 {
    padding-left: 25px;
    font-size: 24px;
}

aside ul {
    list-style-type: none;
    line-height: 30px;
    padding: 0px;
}
aside li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

aside img {
    margin-left: 30px;
    max-height: 30px;
}

aside a { 
    margin-left: 5px;
}

aside a:link, a:active, a:visited {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

aside li:hover {
    background-color: black;
}

aside a:hover {
    color: #9e56fd;
}

footer {
    bottom: 0;
    background-color: rgba(48,49,52,.7);
}

.mainContent {
    flex: 1; /* This makes the main content area stretch vertically */
    display: flex;
    color: white;
}

.pageContent {
    background-color: rgba(20,20,20,.8);
    padding: 20px;
}

a.dropdown-item img{
    margin-right: 8px;
    max-height: 30px;
}

.profilePhoto{
    height: 30px;
}

.aside-options div {
    padding: 10px;
    border-radius: 10px;
}

.aside-options div:hover {
    background-color: #000000;
}

.btn-purple {
    max-width: 250px;
    background-color: #9e56fd;
    color: white;
}

.btn-purple:link {
    background-color: #9e56fd;
    color: white;
}

.btn-purple:visited {
    background-color: #9e56fd;
    color: white;
}

.btn-purple:hover {
    background-color: #b983ff;
    color: black;
}

.btn-purple:active {
    background-color: #9e56fd;
    color:white;
}

.btn-outline-purple {
    color: #b983ff;
    border-color: #b983ff;
}

.btn-outline-purple:hover {
    color: white;
    background: #9e56fd;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #9e56fd69;
}

input.form-control {
    color: #b983ff;
    background-color: #222222;
    border: 1px solid #b983ff;
}

input.form-control:focus {
    color: #b983ff;
    background-color: #222222;
    border: 1px solid #b983ff;
    box-shadow: 0 0 0 0.25rem #b983ff25;
}

select.form-control {
    background-color: #222;
    border: 1px solid #b983ff;
    color: #606060;
    height: 38px;
}

select.form-control:focus {
    background-color: #222;
    border: 1px solid #b983ff;
    color: #b983ff;
}

textarea.form-control {
    background-color: #222;
    border: 1px solid #b983ff;
    color: #606060;
}

textarea.form-control:focus {
    background-color: #222;
    border: 1px solid #b983ff;
    color: #b983ff;
}


