.controlPanelWidget:link, .controlPanelWidget:visited, .controlPanelWidget:hover {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}

.controlPanelWidget:hover {
    color:#9e56fd;
}